@import "../../../styles/global";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {

}

.image {
    height: 400px;
}

.title {
   @include title;
}

.price {
    @include price;
}

.description {
    @include description;
}

.size-container {
    display: flex;
}

.sizes {
    color: $color-text-light;
    border: 0.5px solid $color-text-light;
    width: 30px;
    margin: 4px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}