@import "../../variables";

.container {
    margin-top: 24px;
}

.size {
    color: $color-text-light;
    font-size: $font-reg;
    font-weight: $weight-bold;
}

.required {
    color: $color-text-required;
}

.sizes {
    display: flex;
}

.s, 
.m, 
.l {
    color: $color-text-light;
    border: 0.5px solid $color-text-light;
    width: 30px;
    margin: 4px 0px;
    padding: 10px;
    text-align: center;
    align-items: center;
}