@import "../../../styles/global";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
    margin: 40px 0px;
    background-color: $color-header-bg;
    height: 80px;
    display: flex;
}

.count {
    @include count;
    margin-left: auto;
    padding-right: 24px;
    align-self: center;
}