@import "../../../styles/global";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
    margin: 40px 0px;
    background-color: $color-header-bg;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.count {
    @include count;
    margin-left: 12px;
    padding-right: 24px;
    align-self: center;
}